
.scrollWorkout-container {
  height: 20%;
  width: 25%;
  overflow: auto;
  border: 2px solid red;
}

.single-scroll-workout {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.workout-info-small {
  display: flex;
  /* justify-content: space-around; */
  /* align-items: center; */
}

.delete-workout {
  height: 70%;
}

.workout-link {
  text-decoration: none;
  color: black;
}

.workout-link:hover {
  color: blue;
}

.date-tag {
  margin-left: 10%;
}


