.form-container {
  height: 60%;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: 2px solid blue;
} 

input {
  width: 60%;
}

.description-input {
  height: 20%;
}

.post-button {
  width: 60%;
}