.singleWorkout-container {
  height: 100vh;
  width: 100%;
}

.title-date {
  height: 25vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid blue;
}

.view-home-button {
  height: 25%;
  width: 100%;
}

.single-workout-header-content {
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description-extra {
  height: 75vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border: 2px solid red;
}

.description-container,
.extra-container {
  height: 50%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description-text-container {
  border: 2px solid green;
  max-height: 70%;
  max-width: 100%;
  overflow-y: auto;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center; 
}

.extra-text-container {
  border: 2px solid;
  max-height: 30%;
  overflow-y: auto;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}



.description-text {
  margin: 0;
  word-wrap: break-word;
}