
.app-content {
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: url('../../assets/360_F_467552381_0bG03velO6nwbrlkU6gYaIKVipM1K8wl.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; 
}