.allWorkouts-header-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('../../assets/photo-1504450758481-7338eba7524a.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; 
}

.past-workouts-header {
  height: 10%;
  width: 100%;
  background-color: #146eb4;
  border: 1px solid #000000;
  display: flex;
  align-items: center; /* Align items vertically */
  justify-content: space-between;
}

.past-workouts-title {
  color: #000000;
  margin: 0;
}

.all-workouts-container {
  width: 40%;
  display: flex;
  flex-direction: column;
  border: 1px solid #000000;
  background-color: #146eb4;
  margin-top: 2%;
}

.all-single-scroll-workout {
  border: 1px solid #000000;
  display: flex;
  background-color: #146eb4;
}

.all-workout-link {
  display: flex;
  justify-content: space-around;
  width: 80%;
  text-decoration: none;
}

.all-delete-button-container {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.all-date-tag,
.all-title-tag {
  color: #000000;
}

.all-single-scroll-workout:hover {
  border: 2px solid #f2f2f2;
}

.view-home-button-all {
  height: 100%;
}

.back-arrow-from-all {
  height: 80%;
  width: auto;
  padding: 5px;
  cursor: pointer;
}